*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(88,9,121,1) 36%, rgba(0,212,255,1) 100%);
    color: white;

}
header h1{
    font-family: 'Rubik Vinyl', cursive;
    font-size: 80px;
    letter-spacing: 3px;
    text-align: center;
    margin: 20px;
}
section{
    background-color: rgba(255, 255, 255, 0.253);
    /* width: 750px; */
    height: 245px;
    margin: auto;
    padding: 15px;
    margin: 10px 100px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.295);
}
img{
    width: 275px;
    float: left;
    margin: 10px;
}
img:hover{
width: 300px;
cursor: pointer;

} 
h3{
    font-family: 'EB Garamond', serif;
    font-size: 32px;
    color: #f4a460;

}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: justify;
    
    
}
button{
    background-color: #ff7f50;
    padding: 10px;
    border: none;
    /* text-align: right; */
    float: right ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 90px;
    height: 35px;
    font-size: 13px;
    border-radius: 5px;
}
button:hover{
    width: 120px;
    height: 45px;
    cursor: pointer;
}